html {
  background-color: #FFFF95;
  color: #626261;
}

header {
  font-family: 'Dancing Script', cursive;
  /* font-family: Arial; */
  text-align: center;
  padding: 2rem;
  background-color:azure;
  /* width: 70%;
  float: center; */
}

h2 {
  /* font-family: Arial; */
  font-family: 'Dancing Script', cursive;
}

.container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

img {
  max-width: 300px;
  max-height: 300px;
  border: solid;
  margin: 2rem;
}

.method {
  margin: 2rem;
  margin-top: 5rem;
  max-width: 50%;
}

.list {
  font-family: Calibri;
  color:darkslategrey;
}

figcaption {
  font-family: Calibri;
}